# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# build
dist
build

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# editor
.idea

# npm
.npmrc
npm-debug.log.*

# Output of 'npm pack'
*.tgz

# Cache
.npm
.eslintcache
.stylelintcache

# TypeScript cache
*.tsbuildinfo

# Coverage directory used by tools like istanbul
coverage

# OS
.DS_Store
Thumbs.db
